.container {
    box-sizing: border-box;
    display: flex;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.semaphoreFormat {
    box-sizing: border-box;
    width: 250px;
    height: 550px;
    border: inset 20px rgb(133, 132, 132);
    padding: 25px 0 25px 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.redLight {
    height: 125px;
    width: 125px;
    background-color: rgb(129, 0, 0);
    border-radius: 125px;
    border: 10px solid rgb(30, 30, 30);
}

.openRed {
    height: 125px;
    width: 125px;
    background-color: rgb(255, 0, 0);
    border-radius: 125px;
    box-shadow:0px 0px 45px 35px rgb(255, 0, 0);
    border: 10px solid rgb(250, 136, 136);
}

.yellowLight {
    height: 125px;
    width: 125px;
    background-color: rgb(128, 128, 0);
    border-radius: 125px;
    border: 10px solid rgb(30, 30, 30);
}

.openYellow {
    height: 125px;
    width: 125px;
    background-color: rgb(246, 255, 0);
    border-radius: 125px;
    box-shadow:0px 0px 45px 35px yellow;
    border: 10px solid rgb(250, 250, 136);
}

.greenLight {
    height: 125px;
    width: 125px;
    background-color: rgb(0, 72, 0);
    border-radius: 125px;
    border: 10px solid rgb(30, 30, 30);
}

.openGreen {
    height: 125px;
    width: 125px;
    background-color: rgb(0, 255, 0);
    border-radius: 125px;
    box-shadow:0px 0px 45px 35px greenyellow;
    border: 10px solid rgb(204, 242, 146);
}

.btn-box {
    box-sizing: border-box;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 125px;
    height: 175px;
    border: inset 10px rgb(133, 132, 132);
    float: right;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeBtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(142, 233, 5);
    border: outset 5px green;
    cursor: pointer;
    box-shadow:0px 0px 40px 10px rgb(142, 233, 5);
}

.pressBtn {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: darkgreen;
    border: outset 5px green;
    box-shadow: 0 0 0 0;
    pointer-events: none;
}

.clock {
    display: flex;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
