.lampOn {
    background: url('../img/lampOn.jpeg');
}

.lampOff {
    background: url('../img/lampOff.jpeg');
}

.brokenLamp {
    background: url('../img/brokenLamp.jpeg');
}

.lamp {
    width: 170px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}